/* Reset CSS */
a, abbr, address, article, aside, audio, b, blockquote, body, canvas, caption, cite, code, dd, del, details, dfn, dialog, div, dl, dt, em, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, p, pre, q, samp, section, small, span, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, ul, var, video {
	margin: 0;
	padding: 0;
}

/* Worklight container div */

.title {
	
}
	
#header {
    color: blue;
    font-size : 24px;
}

table{
	table-layout: fixed;
}

body {

}
.ui-title {
	margin: 0 10% !important;
}
.ui-btn-icon-notext.ui-btn-right {
	top: 1rem !important;
}

.ui-btn-icon-notext.ui-btn-left {
	top: 1rem !important;
}
thead {
	font-size: 1.5rem;
	color: grey;
	text-align: left;
	background:#e2e2e2;
}

	.ui-btn.Open {
		color: green !important;
	}
	
	.ui-btn.Close {
		color: red !important;
	}


td.Close {
	color: red;
}

td.Open {
	color: green;
}

tr:nth-child(even) {
	background:#f2f2f2;
}


