<div data-role="page" id="main">

		<!-- <table>		
			<tbody>
			<tr height = "40">
					<td></td>
					<td></td>
					<td></td>
				</tr>
				
				<tr height = "40">
					<td width="200" align = "center" height = "40">Cities</td>
					<td width="100" align = "center"> Men </td>
					<td width="100" align = "center"> Women </td>
				</tr>
			
				<tr height = "40">
					<td></td>
					<td></td>
					<td></td>
				</tr>
				
				<tr height = "40">
					<td  align = "center" bgcolor="skyblue">Tokyo</td>
					<td><a href="#" data-role="button" id="button" class = "ui-btn">Open</a></td>
					<td><a href="#" data-role="button" id="button0" class = "ui-btn">Open</a></td>	
				</tr>
				
				<tr height = "40">
					<td align = "center" bgcolor="bluegrey">Sydney</td>
					<td><a href="#" data-role="button" id="button1" class = "ui-btn">Open</a></td>
					<td><a href="#" data-role="button" id="button2" class = "ui-btn">Open</a></td>
				</tr> 
				
				
				<tr height = "40">
					<td align = "center" bgcolor = #B347D3>London</td>
					<td><a href="#" data-role="button" id="button3"class = "ui-btn">Open</a></td>
					<td><a href="#" data-role="button" id="button4"class = "ui-btn">Open</a></td>
				</tr>
				<tr height = "40">
					<td align = "center" bgcolor="#4255FF">Cairo</td>
					<td><a href="#" data-role="button" id="button5"class = "ui-btn"class = "ui-btn">Open</a></td>
					<td><a href="#" data-role="button" id="button6"class = "ui-btn">Open</a></td>
				</tr>
				<tr height = "40"> 
					<td  align = "center" bgcolor="#9F1C54">St. Petersburg</td>
					<td><a href="#" data-role="button" id="button7"class = "ui-btn">Open</a></td>
					<td><a href="#" data-role="button" id="button8"class = "ui-btn">Open</a></td>
				</tr>
				<tr height = "40" bg>
					<td align = "center" bgcolor="#FFAA00">Mumbai</td>
					<td><a href="#" data-role="button" id="button9"class = "ui-btn">Open</a></td>
					<td><a href="#" data-role="button" id="button10"class = "ui-btn">Open</a></td>
					
				</tr>
				<tr height = "40">
					<td align = "center" bordercolor="" bgcolor="#5CA800">Mexico City</td>
					<td><a href="#" data-role="button" id="button11" class = "ui-btn">Open</a></td>
					<td><a href="javascript:void(0)" data-role="button" id="button12" class="ui-btn" >Open</a></td>
				</tr>
			</tbody>
		</table>
	-->	
	 	<div data-role="header" id="header" >
 			<a href="index.html" data-icon="back" data-iconpos="notext" class="ui-btn-left"></a>
			<a href="#" onclick="cities.loadCities()" id="refreshAvail"
				data-icon="refresh" data-iconpos="notext" class="ui-btn-right"></a>
		<h1> Admin App </h1>
	</div>
	
	<div data-role="main" class="ui-content" id="">
		<p id="errorMessages"> </p>
		<div id="target"></div>
	</div>

	<div data-role="footer" id="footer" data-position="fixed">
		<h3> &copy; Electrolux Home Appliances </h3>
	</div>

	<script type="text/html" id='usageList'>
		<table data-role="table" class ="ui-responsive" data-theme="a" style="width: 100%">
        	<thead>
            	<tr>               
                	<th style="width: 50%;">Cities</th>
                	<th style="width: 25%;">Men</th>
                	<th style="width: 25%;">Women</th>
            	</tr>
        	</thead>
        	<tbody>
        		<% _.each(cities,function(city,key,list){ 
            	// create more variables
        		%>
            	<tr>
                	<td><%= city.City %> </td>
                	<td> <a href="javascript:void(0)" onclick = "btnMClick('<%= city.City %>','<%= city.Men %>')" data-role="button" class="ui-btn"><%= city.Men %> </td>
					<td> <a href="javascript:void(0)" onclick = "btnWClick('<%= city.City %>','<%= city.Women %>')"  data-role="button" class="ui-btn"> <%= city.Women %> </a> </td>
            	</tr>
        		<% } ); %>
    		</tbody>
		</table>

	</script>
	
	<script>
		cities.loadCities();
		
		function btnMClick(city, status){
			status = status=="Open" ? "Close" : "Open";
			
			cities.updateCityM(status, city);
		}
		
		function btnWClick(city, status){
			status = status=="Open" ? "Close" : "Open";
			
			cities.updateCityW(status, city);
		}
	</script>
		
</div>