 
 <div data-role = "page" id="user">	
 
 	<div data-role="header" id="header" >
 			<a href="index.html" data-icon="back" data-iconpos="notext" class="ui-btn-left"></a>

			<a href="#" onclick="Cities.loadCities()" id="refreshAvail"
				data-icon="refresh" data-iconpos="notext" class="ui-btn-right"></a>
		<h1> Restroom App </h1>
	</div>
	
	<div data-role="main" class="ui-content" id="">
		<p id="errorMessages"> </p>
		<div id="target"></div>
	</div>

	<div data-role="footer" id="footer" data-position="fixed">
		<h3> &copy; Electrolux Home Appliances </h3>
	</div>

<script type="text/html" id='usageList'>
<table data-role="table" class ="ui-responsive" data-theme="a" style="width: 100%">
        <thead>
            <tr>               
                <th style="width: 50%;">Name</th>
                <th style="width: 25%;">Men</th>
                <th style="width: 25%;">Women</th>
            </tr>
        </thead>
        <tbody>
        <% _.each(cities,function(city,key,list){ 
            // create more variables
        %>
            <tr>
               
                <td> <%= city.City %> </td>
                <td class=<%= city.Men %>> <%= city.Men %> </td>
				<td class=<%= city.Women %>> <%= city.Women %> </td>
            </tr>
        <% } ); %>
    </tbody>
</table>
</script>

<script type="text/javascript">
Cities.loadCities();
</script>
</div>
